/*css初始化设置*/
body , ul ,h1 ,h2 ,h3, h4, h5, h6, p, input, dl, dt, dd{
    margin: 0;
    padding: 0;
}
img {
    vertical-align: middle;
    border: 0 ;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 16px;
}
.wrapper{
    width: 1250px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr{
    float: right;
}
.clearfix:before ,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
input, button {
    border: 0 none;  /*清除边框*/
    outline-style: none;   /*清除轮廓线*/
}